<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">  
<menu>
<add
id="Chandru_Checkcontent::check"
title="Contentcheck"
translate="title"
module="Chandru_Checkcontent"
resource="Chandru_Checkcontent::check"
parent="Chandru_Adminmenu::first_level_demo"
sortOrder="1"


/>
<add
id="Chandru_Checkcontent::create"
title="Create"
translate="title"
module="Chandru_Checkcontent"
resource="Chandru_Checkcontent::faq"
parent="Chandru_Checkcontent::check"
sortOrder="3"
action="checkcontent/create/add"


/>
<add
id="Chandru_Checkcontent::Update"
title="Update"
translate="title"
module="Chandru_Checkcontent"
resource="Chandru_Checkcontent::faq"
parent="Chandru_Checkcontent::check"
sortOrder="4"
action="checkcontent/update/update"


/>
</menu>



</config>