<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">  

<menu>

       <add id="Chandru_Adminmenu::first_level_demo"

            title="Chandru Admin Menu"
module="Chandru_Adminmenu"
sortOrder="20"
resource="Magento_Backend::content" />

       <add id="Chandru_Adminmenu::second_level_demo"

            title="Sub Menu"
module="Chandru_Adminmenu"
sortOrder="1"
action="menuitem/index/index"
parent="Chandru_Adminmenu::first_level_demo"

            resource="Magento_Backend::content" />
  </menu>
</config>